# ========================================================================
#                             GitIgnore for .vim
# ========================================================================

# Vim Scratch Files & Directories
.backup/
.swap/
.undo/
viminfo.txt

# Vim Plugin Scratch Files & Directories
.ctrlp/
.nerdtree/
.netrwhist
.perforce/
.yankring/

# Vim Bundles are managed via Vundle plugin and not GitHub forks
bundle/
